<!DOCTYPE html>
<html>
  <head>
    <title>MyVaper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', turbolink_track: true %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if empregado_signed_in?%>
    <body>
      <%= flash_message %>
      <%= render 'shared/top_nav' %>
      <div class="page-content">
        <%= render 'shared/side_nav' %>
        <%= yield %>
      </div>
    </body>
    <% else %>
    <body class="layout-boxed-bg">
      <%= flash_message %>
      <%= yield %>
    </body>
    <% end %>
  </body>
</html>
